.bigbox{
    border: 1px solid rgb(210, 203, 203);
    /* height: 700px; */
    /* margin-top: -30px; */
}

.product-details{
    background: #fff;
    padding: 30px;
    display:  grid;
    grid-template-columns: 0.9fr 1.1fr;
    border: 1px solid rgb(216, 207, 207);
    margin-top: 70px;
    gap: 30px;
}

.product-page-img{
    /* width: 50%; */
    height: 60%;
    margin-top: 50px;
 /* border: 1px solid rgb(182, 181, 181); */
 justify-content: center;
 margin-right: 40px;
 padding: 5px;
overflow: hidden;
position: relative;
}

.product-image{
    /* border: 1px solid rgb(211, 204, 204); */
    width: 50%;
    margin: auto;
    height: auto;
    /* margin-top: 40px; */
    margin-bottom: 40px;
    justify-items: center;
    justify-content: center;
    /* margin-left: 20px; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}
.product-image img {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 100px;
    height: auto;
    justify-content: center;
    /* border: 1px solid black; */
    justify-items: center;
}






/* =============== product-page-detail */

.product-page-detail{
    /* border: 1px solid black; */
    color: #333;
    margin-right: 150px;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: capitalize;
}

.product-page-detail .product-category{
    /* border: 1px solid red; */
    margin-top: 14px;
    font-size: 1.3rem;
    color: #535353;
    font-weight: 400;
    text-transform: capitalize;
}

.product-page-detail .product-price{
    /* border: 1px solid red; */
    color: #333;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    /* text-transform: capitalize; */
}

/* .product-page-detail */

.product-page-detail .small-desc{
    /* border: 1px solid rgb(0, 255, 208); */
    margin-top: 10px;
    color: #4b4b4b;
    font-size: 0.7rem;
      font-weight: 400;
    background: #fcfcfc;
    padding: 10px;
    border: 1px solid #f7f2f7;
}

.product-page-detail .small-desc {
    font-size: 1.1rem;
}

.product-page-detail .product-options{
    /* border: 1px solid rgb(0, 255, 208); */
 display:  flex;
 justify-content:  flex-start;
 align-items: center;
 margin-top: 10px;
}
.product-page-detail .product-options span{
   font-size: 2rem;
   color: #1f1f1f;
   font-weight: 600;
   margin-right: 17px;
   }
   .product-page-detail .product-options h1{
    /* width: 25px; */
    height: 25px;
    /* border: 2px solid #f2f2f2; */
   }

/* .product-page-detail .product-color{
} */

.product-page-detail .product-page-offers{
 display: inline-block ;
 /* border: 1px solid yellow; */
 color: #fff;
  font-size: 0.8rem;
  padding: 8px 15px;
  border-radius: 10px;
  background: red;
  margin-top: 30px;
}


.product-page-detail .product-page-offers i{
     margin-right: 3px;
     /* border: 1px solid yellow; */
}

.product-page-detail .cart-btns{
    /* border: 1px solid rgb(107, 21, 6); */
     display: flex;
     justify-content: flex-start;
     align-items: center;
     margin-top: 25px;
}

.product-page-detail .cart-btns .add-to-cart{
 background: #333;
 color: #fff;
 width: 220px;
 height: 40px;
 border-radius: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 1rem;
}

.product-page-detail .cart-btns .buy-now{
    background: crimson;
    margin-left: 10px;
}

/* ======================        ========================== */


.product-info{
    margin-top: 30px;
    margin-bottom: 50px;
}

.product-info .product-info-menu .p-info-list{
  font-size: 1rem;
  font-weight: 550;
}


.product-info .product-info-menu{
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 10px;
}

.product-info .product-info-menu li{
     width: 100%;
     text-align: center;
     text-transform: capitalize;
     font-size: 600;
     display: flex;
     padding: 10px 20px;
     border: 1px solid #e9e9e9;
     background: #fff;
     color: #252525;
     letter-spacing: 1px;
     user-select: none;
     cursor: pointer;
     justify-content: center;
     justify-items: center;
}

.product-info .product-info-menu li.active{
    color:  #fff;
    background: #252525;
}



.product-info  .info-container {
    display: none;
 /* opacity: 0; */
  /* margin-top: 10px; */
  font-size: 1rem;
  font-weight: 400;
 background: #fff;
 width: 100%;
 /* height: 0px;  */
  overflow: hidden;
  transition: 0.5s;
}

.product-info  .info-container.active {
    display: block;
    /* opacity: 1;    */
    border: 1 px solid black;
    padding: 20px;
    height: auto;
}

.product-info  .info-container p{
   color: #333;

   font-size: 1rem;   
}

 .product-info .product-info-menu .p-info-list{
    text-align: center;
   justify-items: center;

}


/* ============ media =========== */



@media (max-width:1000px){
    .product-details{
        grid-template-columns: 1fr;
    }
    .product-page-img{
        width: 90%;
        height: auto;
    }
    .product-page-img{
        width: 100%;
        height: auto;
        justify-items: center;
        /* border: 1px solid red; */
         box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
         justify-content: center;
         justify-items: center;
        text-align: center;
    }
   .product-image img{
      width: 100%;
   }
}

@media (max-width:724px){
    .product-details{
       padding: 15px;
    }
    .product-page-img{
        width: 100%;
        height: auto;
        justify-items: center;
        /* border: 1px solid red; */
         box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
         justify-content: center;
         justify-items: center;
        text-align: center;
    }
   .product-image img{
      width: 100%;
   }


  .product-info .product-info-menu li {
    font-size: 0.8rem;
  }
  .product-info .product-info-menu {
     display: grid;
     grid-template-columns: 1fr 1fr;
  }

  .product-page-detail .product-price{
    font-size: 2rem;
  }
  .product-details  .cart-btns{
    gap: 10px;
    flex-direction: column;
    width: 100%;
}

}

/* ========  */


@media (max-width:400px){
   /* .product-page-img .myslides {
    height:  300px;
   } */
   .product-page-img{
    height: 60%;
    justify-items: center;
    text-align: center;
}

 .product-info .product-info-menu {
     display: grid;
     grid-template-columns: 1fr;
  }

  .product-details  .cart-btns{
      flex-direction: column;
      width: 100%;
  }
 
  .product-details  .cart-btns .add-to-cart{
      width: 100%;
     margin-top: 10px;
}
 
.product-details .cart-btns .buy-now {
    margin-left: 0px;
}




}





