.cart{
    /* border: 1px solid black; */
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
    background: #fff;
    margin-top: 50px;
}


h1{
    text-align: center;
    font-size: 2.2rem;
}

.cart-page{
    /* border:  1px solid red; */
    width: 90%;
    height: 600px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.product-detail{
    border: 1px solid black;
    height: 200px;
    display: flex;
    gap: 20px;
}

.product-image{
    width: 50%;
    max-height: fit-content;
    /* height: 90%; */
    border: 1px solid pink;
}
.product-image img {
     width: 100%;
     height: 100%;
}

.detail-button{
    width: 100%;
    /* border: 1px solid pink; */
    gap: 20px;
}


.cartdetail{
    /* border:  2px solid rgb(22, 22, 169); */
    width: 70%;
}

.title{
    /* border: 1px solid black; */
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.price{
    /* border: 1px solid black; */
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
}

.price .button-remove{
    font-size: 1.2rem;
    font-weight: 600;
}

.price-but .button-remove{
    font-size: 1rem;
    font-weight: 550;
    /* border: 1px solid red; */
    margin-top: 10px;
    border-radius: 10px;
    background: red;
    color: #fff;
    padding: 5px 10px;
}

/* ======= */
.total{
    border:  2px solid rgb(22, 22, 169);
    width: 28%;
    height: 60%;
}

.total .total-detail{
    font-size: 1.1rem;
    font-weight: 550;
    color: gray;
    /* border-bottom: 1px solid rgb(207, 197, 197); */

}
.total-price{
    border: 1px solid rgb(215, 204, 204);
    margin-top: 10px;
}
.detail-item{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    text-shadow: #fff;
    margin-top: 20px;
    font-size: 1.5rem;
    color: rgb(62, 60, 60);
}

 .detail-item-price .detail-item-rupee{
 border: 1px solid yellow;
}

