.slideshow {
    margin: 0 auto;
    overflow: hidden;
    margin-top: 20px  ;
  }
  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 900ms;
  }
  
  .slide {
    display: inline-block;
    width: 100%;
  }

  .ChackraNavBar{
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: white;
  }